* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1.8em Helvetica, Arial;
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 89%; /* 90% is too much */
  margin-right: .5%;
}

form #button {
  color: #FFFF;
  background: rgb(11, 50, 159);
  border: none;
  padding: 10px;
  width: 9%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 115, 0);
  color: darkolivegreen;
}

#messages li {
  padding: 5px ;
    
}
 
#messages li:nth-child(odd) {
  background: #eee;
  
}

#notifyUser {
  position: fixed;
  bottom: 42px;
  width: 100%;
}

/* Reference: http://javabeginnerstutorial.com/javascript-2/create-simple-chat-application-using-node-js-express-js-socket-io/ */